<template>
  <v-container>
    <!-- Search bar for products -->
    <v-row>
      <v-col>
        <v-text-field v-model="searchQuery" label="Search Products" @input="searchProducts"></v-text-field>
        <!-- Dialog for adding a new product -->
        <v-dialog v-model="showAddProductDialog" max-width="600px">
          <ProductForm
            :dialog="showAddProductDialog"
            @update:dialog="showAddProductDialog = $event"
            @product-added="handleProductAdded"
            @product-updated="handleProductUpdated"
          />
        </v-dialog>

        <!-- Display products in shelves -->
        <div v-for="(shelf, index) in shelves" :key="index" class="shelf">
          <v-row>
            <v-col
              v-for="product in shelf"
              :key="product.id"
              cols="auto"
              class="d-flex flex-column align-items-center product-container"
            >
              <v-img :src="product.photo" alt="" width="100" height="100"></v-img>
              <v-list-item-content>
                <v-list-item-title>{{ product.nom }}</v-list-item-title>
                <v-list-item-subtitle>Quantity: {{ product.qte }}</v-list-item-subtitle>
              </v-list-item-content>
              <!-- Icons for actions -->
              <v-list-item-action class="d-flex justify-center">
                <v-icon class="small-icon blue--text darken-1" @click="decreaseQuantity(product)">mdi-minus</v-icon>
                <v-icon class="small-icon green--text darken-1" @click="increaseQuantity(product)">mdi-plus</v-icon>
                <v-icon class="small-icon red--text darken-1" @click="deleteProduct(product.id)">mdi-delete</v-icon>
              </v-list-item-action>
            </v-col>
          </v-row>
        </div>

        <!-- Buttons for refreshing and adding products -->
        <v-row class="fixed-buttons">
          <v-col cols="12">
            <v-row>
              <v-col class="d-flex justify-center">
                <v-btn color="primary" @click="fetchProducts">Refresh</v-btn>
              </v-col>
              <v-col class="d-flex justify-center">
                <v-btn color="secondary" @click="openAddProductDialog">Add Product</v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import {ref, onMounted, computed} from 'vue';
import ProductForm from '../components/ProductForm.vue';
import Produit from '../Product.js';
import axios from 'axios';

const products = ref([]); // Array to hold products
const searchQuery = ref(''); // Search query for filtering products
const showAddProductDialog = ref(false); // Flag for showing add product dialog
const fridgeId = 12; // ID of the fridge
const productsPerShelf = 4; // Number of products per shelf

// Fetch products from the server
const fetchProducts = async () => {
  try {
    const response = await axios.get(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits`);
    products.value = response.data.map(prod => new Produit(prod));
  } catch (error) {
    console.error(error);
  }
};

// Search products based on the search query
const searchProducts = async () => {
  try {
    const response = await axios.get(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits?search=${searchQuery.value}`);
    products.value = response.data.map(prod => new Produit(prod));
  } catch (error) {
    console.error(error);
  }
};

// Update local product data after an update from the server
const updateLocalProduct = (updatedProduct) => {
  const index = products.value.findIndex(p => p.id === updatedProduct.id);
  if (index !== -1) {
    products.value[index] = new Produit(updatedProduct);
  }
};

// Increase quantity of a product
const increaseQuantity = async (product) => {
  try {
    product.increaseQty();
    const response = await axios.put(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits`, product.toJSON());
    if (response.status === 200) {
      updateLocalProduct(response.data);
    }
  } catch (error) {
    console.error(error);
  }
};

// Decrease quantity of a product
const decreaseQuantity = async (product) => {
  try {
    product.decreaseQty();
    const response = await axios.put(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits`, product.toJSON());
    if (response.status === 200) {
      updateLocalProduct(response.data);
    }
  } catch (error) {
    console.error(error);
  }
};

// Delete a product
const deleteProduct = async (id) => {
  try {
    const response = await axios.delete(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits/${id}`);
    if (response.status === 200) {
      products.value = products.value.filter(product => product.id !== id);
    }
  } catch (error) {
    console.error(error);
  }
};

// Open the add product dialog
const openAddProductDialog = () => {
  showAddProductDialog.value = true;
};

// Handle addition of a new product
const handleProductAdded = async (newProduct) => {
  try {
    const response = await axios.post(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits`, newProduct);
    if (response.status === 201) {
      products.value.push(new Produit(response.data));
      showAddProductDialog.value = false;
    }
    await fetchProducts(); // Call fetchProducts after successful addition
  } catch (error) {
    console.error(error);
  }
};

// Handle update of a product
const handleProductUpdated = async (updatedProduct) => {
  try {
    const response = await axios.put(`https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/${fridgeId}/produits`, updatedProduct);
    if (response.status === 200) {
      updateLocalProduct(response.data);
      showAddProductDialog.value = false;
    }
  } catch (error) {
    console.error(error);
  }
};

// Create shelves to display products
const shelves = computed(() => {
  const shelves = [];
  for (let i = 0; i < products.value.length; i += productsPerShelf) {
    shelves.push(products.value.slice(i, i + productsPerShelf));
  }
  return shelves;
});

// Call fetchProducts on component
onMounted(fetchProducts);
</script>

<style scoped>
h1 {
  margin-bottom: 20px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}


.shelf {
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  width: 80%;
}

.product-container {
  margin: 10px;
}

.small-icon {
  font-size: 18px;
  cursor: pointer;
}

.fixed-buttons {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #64B5F6;
  z-index: 999;
  padding: 10px 0;
}
</style>
