<template>
  <!-- Container for the index page -->
  <div class="index-container">
    <v-container fluid>
      <v-row justify="center">
        <!-- Search field -->
        <v-col cols="12" sm="8" md="6">
          <v-text-field
            v-model="searchQuery"
            label="Search"
            outlined
            dense
            solo
            class="custom-text-field"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>

    <div>
      <!-- Content for your home page -->
    </div>
  </div>
</template>

<script setup>
import {ref} from 'vue'

// Reference for the search query
const searchQuery = ref('')
</script>

<style scoped>
.index-container {
  background-color: #B3E5FC; /* Soft color to match the ambiance of a fridge */
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.custom-text-field {
  background-color: #90CAF9 !important; /* Less vibrant background color */
  border-radius: 0; /* Remove border of the text field */
}
</style>
