<template>
  <v-container>
    <h1>Recipes</h1>
    <p>Here are some delicious recipes to try :</p>
    <ul>
      <li>Pizza Margherita</li>
      <li>Ratatouille provençale</li>
      <li>Tarte aux pommes</li>
      <!-- Ajoutez d'autres recettes selon vos besoins -->
    </ul>
  </v-container>
</template>

<script setup>
</script>
