<template>
  <v-card>
    <v-card-title>{{ isEdit ? 'Edit Product' : 'Add Product' }}</v-card-title>
    <v-card-text>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="productName"
          label="Product Name"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <v-text-field
          v-model="productQuantity"
          label="Quantity"
          :rules="[rules.required, rules.numeric]"
          required
        ></v-text-field>
        <v-text-field
          v-model="productPhotoUrl"
          label="Photo URL"
        ></v-text-field>
        <v-card-actions>
          <v-btn color="primary" type="submit">{{ isEdit ? 'Save' : 'Add' }}</v-btn>
          <v-btn color="red" @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script setup>
import {ref, watch, defineProps, defineEmits} from 'vue';

const props = defineProps({
  dialog: Boolean,
  isEdit: Boolean,
  product: Object
});
const emit = defineEmits(['update:dialog', 'product-added', 'product-updated']);

const productName = ref(props.product?.nom || '');
const productQuantity = ref(props.product?.qte || '');
const productPhotoUrl = ref(props.product?.photo || '');

const rules = {
  required: value => !!value || 'Required.',
  numeric: value => /^\d+$/.test(value) || 'Must be a number.'
};

const submitForm = () => {
  const newProduct = {
    id: props.product?.id || null,
    nom: productName.value,
    qte: parseInt(productQuantity.value, 10),
    photo: productPhotoUrl.value
  };

  if (props.isEdit) {
    emit('product-updated', newProduct);
  } else {
    emit('product-added', newProduct);
  }

  closeDialog();
};

const cancel = () => {
  closeDialog();
};

const closeDialog = () => {
  emit('update:dialog', false);
  productName.value = '';
  productQuantity.value = '';
  productPhotoUrl.value = '';
};

watch(() => props.dialog, (newVal) => {
  if (!newVal) {
    productName.value = '';
    productQuantity.value = '';
    productPhotoUrl.value = '';
  }
});

watch(() => props.product, (newVal) => {
  if (newVal) {
    productName.value = newVal.nom || '';
    productQuantity.value = newVal.qte || '';
    productPhotoUrl.value = newVal.photo || '';
  }
});
</script>

<style scoped>
</style>
