<template>
  <!-- Vue application -->
  <v-app>
    <!-- App bar -->
    <v-app-bar color="#90CAF9" dense dark rounded>
      <template v-slot:prepend>
        <!-- Toggle drawer button -->
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="white--text"></v-app-bar-nav-icon>
      </template>
      <!-- App title -->
      <v-app-bar-title class="white--text">Virtual Fridge</v-app-bar-title>
    </v-app-bar>

    <!-- Navigation drawer -->
    <v-navigation-drawer app v-model="drawer" color="#90CAF9" rounded>
      <v-list-item>
        <!-- Drawer title -->
        <v-list-item-title class="text-h6 white--text">Fridge</v-list-item-title>
        <!-- Drawer subtitle -->
        <v-list-item-subtitle class="white--text">Left Menu</v-list-item-subtitle>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense nav>
        <!-- Drawer menu item for recipes -->
        <v-list-item to="/PageRecipes">
          <v-list-item-title class="white--text">Recipes</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!-- Main content -->
    <v-main>
      <v-container fluid class="page">
        <!-- Fridge view component -->
        <FridgeView/>
      </v-container>
    </v-main>

    <!-- Footer -->
    <v-footer color="#90CAF9" dark dense rounded>
      <div class="white--text">
        <!-- Footer text with current year -->
        {{ new Date().getFullYear() }} — <strong>Virtual Fridge</strong>
      </div>
    </v-footer>
  </v-app>
</template>

<script setup>
import {ref} from 'vue';
import FridgeView from './pages/FridgeView.vue';

// State for the drawer toggle
const drawer = ref(false);
</script>

<style scoped>
.page {
  min-height: calc(100vh - 64px);
  text-align: center;
  background-color: #64B5F6;
  padding: 16px;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
}
</style>

<style>
/* Global styles for body and html */
body, html {
  background-color: #338fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
</style>
